@font-face {
  font-family: 'formula1-display-bold';
  src: url('../src/assets/fonts/Formula1-Bold_web_0.ttf');
}

.App {
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;  

  div {
    background-color: #464646;
    border-radius: 10px;
    box-shadow: 0 15px 10px rgba(12, 16, 31, 0.4);
    padding: 1rem;
    margin: 1rem;
  }
}

body {
  background-color: #191919;
  color: #fff;
  font-family: 'formula1-display-bold';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

p,
h4{
  padding: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
